# Ignore virtual environment
.env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code / PyCharm
.vscode/
.idea/

# Mac/Windows metadata
.DS_Store
Thumbs.db
